Repository aijun-li/mockya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

release: v0.3.3-alpha.4
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
  pnpm-lock.yaml
Due: prettier -w

feat: optimize logging
  packages/whistle.mockya/src/db/collection.ts
Due: prettier -w, eslint --fix

release: v0.3.3-alpha.5
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: switch to library engine
  packages/whistle.mockya/prisma/schema.prisma
Due: none

feat: optimize editor keymap
  packages/ui/src/components/common/Editor/Editor.vue
Due: prettier -w, eslint --fix

release: v0.3.3
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: support mocking in javascript
  package-lock.json
  package.json
  packages/ui/package.json
  packages/ui/src/components/CreateMockModal.vue
  packages/ui/src/components/MockDropdownList.vue
  packages/ui/src/components/MockListItem.vue
  packages/ui/src/components/TrafficItemDetail.vue
  packages/ui/src/components/TrafficListItem.vue
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/components/common/Editor/config.ts
  packages/ui/src/hooks/format.ts
  packages/ui/src/service/index.ts
  packages/ui/src/store/rule-config.ts
  packages/ui/src/store/stats.ts
  packages/ui/src/store/traffic.ts
  packages/ui/src/types/index.ts
  packages/ui/src/views/detail/panels/MockConfig.vue
  packages/ui/src/views/statistics/index.vue
  packages/ui/src/workers/format.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  packages/whistle.mockya/package.json
  packages/whistle.mockya/prisma/migrations/20240310031002_add_mock_lang/migration.sql
  packages/whistle.mockya/prisma/schema.prisma
  packages/whistle.mockya/src/db/mock.ts
  packages/whistle.mockya/src/db/rule.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/shared/types.ts
  packages/whistle.mockya/src/types/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/mock.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

feat: optimize user experience
  packages/ui/src/views/detail/panels/MockConfig.vue
  packages/whistle.mockya/src/db/rule.ts
Due: prettier -w, eslint --fix

release: v0.4.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: support actions in command palette
  packages/ui/src/components/CommandPalette.vue
  packages/ui/src/components/SideBar.vue
  packages/ui/src/store/command-palette.ts
  packages/ui/src/types/index.ts
  packages/ui/src/views/detail/panels/BasicConfig.vue
  packages/ui/src/views/detail/panels/MatcherConfig.vue
  packages/ui/src/views/detail/panels/MockConfig.vue
  packages/ui/src/views/detail/panels/RuleList.vue
  packages/ui/src/views/home/index.vue
Due: prettier -w, eslint --fix

chore: add daisy components
  packages/ui/src/daisy/components/badge/Badge.vue
  packages/ui/src/daisy/components/badge/index.ts
  packages/ui/src/daisy/components/checkbox/Checkbox.vue
  packages/ui/src/daisy/components/checkbox/index.ts
  packages/ui/src/daisy/components/index.ts
  packages/ui/src/daisy/components/indicator/Indicator.vue
  packages/ui/src/daisy/components/indicator/index.ts
Due: prettier -w, eslint --fix

chore: force light theme
  packages/ui/tailwind.config.ts
Due: prettier -w, eslint --fix

feat: support rule marking & quick enabled toggling
  packages/ui/src/components/RuleItem.vue
  packages/ui/src/store/rule-list.ts
  packages/ui/src/views/detail/panels/RuleList.vue
  packages/whistle.mockya/version-change-trigger.ts
Due: prettier -w, eslint --fix

release: v0.4.1
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

chore: fix build errors
  packages/ui/src/types/index.ts
  packages/ui/src/views/detail/panels/RuleList.vue
Due: prettier -w, eslint --fix

feat: use new trpc-koa-adapter supporting onError
  packages/whistle.mockya/src/uiServer/router/rpc/index.ts
  packages/whistle.mockya/src/utils/trpc-koa-adapter.ts
Due: prettier -w, eslint --fix

chore: add README.md
  README.md
Due: none

chore: add README.md
  README.md
  packages/whistle.mockya/package.json
Due: prettier -w

release: v0.4.2
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
Due: prettier -w

Path conditions:
  prettier -w: any of: *.{js,ts,vue,json,css,scss}
  eslint --fix: any of: *.{js,ts,vue}
