Repository aijun-li/mockya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,vue,json,css,scss}": ["prettier -w"],
  "*.{js,ts,vue}": ["eslint --fix"]
}

ci: update publish workflow
  .github/workflows/publish.yml
Due: none

ci: add publish workflow
  .github/workflows/publish.yml
  .npmrc
  lerna.json
  pnpm-lock.yaml
Due: prettier -w

feat: pwa
  packages/ui/.gitignore
  packages/ui/index.html
  packages/ui/package.json
  packages/ui/public/favicon.svg
  packages/ui/public/mockya-192x192.png
  packages/ui/public/mockya-48x48.png
  packages/ui/public/mockya-512x512.png
  packages/ui/public/mockya-96x96.png
  packages/ui/public/vite.svg
  packages/ui/src/main.ts
  packages/ui/src/router/routes.ts
  packages/ui/src/store/detail.ts
  packages/ui/src/views/detail/index.vue
  packages/ui/src/vite-env.d.ts
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.1.3
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: pwa
  .github/workflows/publish.yml
  packages/ui/.gitignore
  packages/ui/index.html
  packages/ui/package.json
  packages/ui/public/favicon.svg
  packages/ui/public/mockya-192x192.png
  packages/ui/public/mockya-48x48.png
  packages/ui/public/mockya-512x512.png
  packages/ui/public/mockya-96x96.png
  packages/ui/public/vite.svg
  packages/ui/src/main.ts
  packages/ui/src/router/routes.ts
  packages/ui/src/store/detail.ts
  packages/ui/src/views/detail/index.vue
  packages/ui/src/vite-env.d.ts
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

feat: add pv tracking & optimize pwa
  packages/ui/index.html
  packages/ui/src/App.vue
  packages/ui/src/components/SideBar.vue
  packages/ui/src/router/index.ts
  packages/ui/src/router/routes.ts
  packages/whistle.mockya/public/assets/index-1b98981c.js
  packages/whistle.mockya/public/assets/index-6d18d40d.css
  packages/whistle.mockya/public/assets/workbox-window.prod.es5-a7b12eab.js
  packages/whistle.mockya/public/favicon.svg
  packages/whistle.mockya/public/index.html
  packages/whistle.mockya/public/manifest.webmanifest
  packages/whistle.mockya/public/mockya-192x192.png
  packages/whistle.mockya/public/mockya-48x48.png
  packages/whistle.mockya/public/mockya-512x512.png
  packages/whistle.mockya/public/mockya-96x96.png
  packages/whistle.mockya/public/sw.js
  packages/whistle.mockya/public/vite.svg
  packages/whistle.mockya/public/workbox-e1e09b90.js
  packages/whistle.mockya/src/uiServer/index.ts
  packages/whistle.mockya/src/uiServer/router/http/index.ts
Due: prettier -w, eslint --fix

release: v0.1.4
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: save code locally on change
  packages/ui/src/views/detail/panels/MockConfig.vue
  packages/whistle.mockya/public/assets/index-b4588b76.js
  packages/whistle.mockya/public/index.html
  packages/whistle.mockya/public/sw.js
Due: prettier -w, eslint --fix

release: v0.1.5-alpha.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: support delay config
  packages/ui/package.json
  packages/ui/src/components/MatcherItem.vue
  packages/ui/src/daisy/components/index.ts
  packages/ui/src/daisy/components/range/Range.vue
  packages/ui/src/daisy/components/range/index.ts
  packages/ui/src/store/rule-config.ts
  packages/ui/src/views/detail/panels/MatcherConfig.vue
  packages/ui/src/views/detail/panels/RuleList.vue
  packages/whistle.mockya/prisma/migrations/20240109160916_add_delay_to_match/migration.sql
  packages/whistle.mockya/prisma/schema.prisma
  packages/whistle.mockya/src/db/matcher.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/types/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/matcher.ts
  packages/whistle.mockya/src/uiServer/router/rpc/mock.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

feat: sync collection update time on operations
  packages/whistle.mockya/src/db/collection.ts
  packages/whistle.mockya/src/db/matcher-config.ts
  packages/whistle.mockya/src/db/matcher.ts
  packages/whistle.mockya/src/db/mock-header.ts
  packages/whistle.mockya/src/db/mock.ts
  packages/whistle.mockya/src/db/rule.ts
Due: prettier -w, eslint --fix

chore: optimize dev env
  packages/whistle.mockya/.gitignore
  packages/whistle.mockya/package.json
  packages/whistle.mockya/public/assets/index-6d18d40d.css
  packages/whistle.mockya/public/assets/index-b4588b76.js
  packages/whistle.mockya/public/assets/workbox-window.prod.es5-a7b12eab.js
  packages/whistle.mockya/public/favicon.svg
  packages/whistle.mockya/public/index.html
  packages/whistle.mockya/public/manifest.webmanifest
  packages/whistle.mockya/public/mockya-192x192.png
  packages/whistle.mockya/public/mockya-48x48.png
  packages/whistle.mockya/public/mockya-512x512.png
  packages/whistle.mockya/public/mockya-96x96.png
  packages/whistle.mockya/public/sw.js
  packages/whistle.mockya/public/workbox-e1e09b90.js
  packages/whistle.mockya/scripts/env.js
  packages/whistle.mockya/src/logger/index.ts
  packages/whistle.mockya/src/server.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

refactor: rename MatcherConfig to MatcherCondition
  .eslintignore
  packages/ui/src/components/MatcherItem.vue
  packages/ui/src/store/rule-config.ts
  packages/ui/src/types/matcher.ts
  packages/ui/src/views/detail/panels/MatcherConfig.vue
  packages/whistle.mockya/prisma/migrations/20240110140300_rename_matcher_condition/migration.sql
  packages/whistle.mockya/prisma/schema.prisma
  packages/whistle.mockya/src/db/collection.ts
  packages/whistle.mockya/src/db/index.ts
  packages/whistle.mockya/src/db/matcher-condition.ts
  packages/whistle.mockya/src/db/matcher.ts
  packages/whistle.mockya/src/db/rule.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/types/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/matcher-condition.ts
  packages/whistle.mockya/src/uiServer/router/rpc/matcher-config.ts
  packages/whistle.mockya/src/uiServer/router/rpc/matcher.ts
Due: prettier -w, eslint --fix

feat: support basic conditions
  packages/ui/src/components/MatcherItem.vue
  packages/ui/src/store/rule-config.ts
  packages/ui/src/types/matcher.ts
  packages/ui/src/views/detail/panels/BasicConfig.vue
  packages/ui/src/views/detail/panels/MatcherConfig.vue
  packages/ui/src/views/detail/panels/RuleList.vue
  packages/whistle.mockya/prisma/migrations/20240110153227_add_rule_condition/migration.sql
  packages/whistle.mockya/prisma/schema.prisma
  packages/whistle.mockya/src/db/collection.ts
  packages/whistle.mockya/src/db/index.ts
  packages/whistle.mockya/src/db/rule-condition.ts
  packages/whistle.mockya/src/db/rule.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/types/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/matcher-condition.ts
  packages/whistle.mockya/src/uiServer/router/rpc/rule-condition.ts
Due: prettier -w, eslint --fix

release: v0.1.5
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

build: update publish workflow
  .github/workflows/publish.yml
Due: none

fix: update style
  packages/ui/src/views/detail/panels/BasicConfig.vue
  packages/whistle.mockya/package.json
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.1.6-alpha.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

chore: update dependencies
  packages/ui/package.json
  packages/ui/src/components/MatcherItem.vue
  packages/ui/src/components/SideBar.vue
  packages/ui/src/components/common/Editor/config.ts
  packages/ui/src/components/common/ResizeLayout/ResizeLayout.vue
  packages/ui/src/daisy/components/range/Range.vue
  packages/ui/src/views/detail/panels/BasicConfig.vue
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

feat: support field commands
  packages/ui/src/components/common/Editor/config.ts
  packages/whistle.mockya/src/server.ts
Due: prettier -w, eslint --fix

release: v0.1.6
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: support checking for updates
  packages/ui/.eslintrc.cjs
  packages/ui/index.html
  packages/ui/public/favicon.png
  packages/ui/public/favicon.svg
  packages/ui/src/components/VersionUpdateModal.vue
  packages/ui/src/components/index.ts
  packages/ui/src/daisy/components/diff/Diff.vue
  packages/ui/src/daisy/components/diff/index.ts
  packages/ui/src/daisy/components/divider/Divider.vue
  packages/ui/src/daisy/components/divider/index.ts
  packages/ui/src/daisy/components/index.ts
  packages/ui/src/daisy/components/modal/Modal.vue
  packages/ui/src/types/index.ts
  packages/ui/src/views/settings/index.vue
  packages/ui/src/vite-env.d.ts
  packages/ui/vite.config.ts
  packages/whistle.mockya/package.json
  packages/whistle.mockya/src/logger/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
  packages/whistle.mockya/tsconfig.json
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.1.7-alpha.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: support updating version
  packages/ui/src/App.vue
  packages/ui/src/components/VersionUpdateModal.vue
  packages/ui/src/store/index.ts
  packages/ui/src/store/version.ts
  packages/ui/src/types/index.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/views/settings/index.vue
  packages/whistle.mockya/package.json
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
  packages/whistle.mockya/src/utils/env.ts
  packages/whistle.mockya/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.1.7-alpha.1
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

chore: add proxy to changelog url
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
Due: prettier -w, eslint --fix

release: v0.1.7-alpha.2
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: solve version update issues
  packages/ui/src/store/version.ts
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
Due: prettier -w, eslint --fix

release: v0.1.7-alpha.3
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: support copying log file url
  packages/ui/src/App.vue
  packages/ui/src/views/settings/index.vue
  packages/whistle.mockya/src/logger/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
Due: prettier -w, eslint --fix
