Repository aijun-li/mockya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

feat: backend implementation
  .commitlintrc
  packages/ui/package.json
  packages/ui/src/components/MatcherItem.vue
  packages/ui/src/components/SideBar.vue
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/components/common/Editor/config.ts
  packages/ui/src/views/detail/index.vue
  packages/ui/src/views/detail/panels/MatcherConfig.vue
  packages/whistle.mockya/package.json
  packages/whistle.mockya/prisma/migrations/20231021154544_v1_0/migration.sql
  packages/whistle.mockya/prisma/migrations/migration_lock.toml
  packages/whistle.mockya/prisma/mockya.db-journal
  packages/whistle.mockya/public/assets/index-94aa8dd7.js
  packages/whistle.mockya/public/assets/index-97485598.css
  packages/whistle.mockya/public/assets/index-a5db6985.js
  packages/whistle.mockya/public/index.html
  packages/whistle.mockya/src/db/collection.ts
  packages/whistle.mockya/src/db/matcher.ts
  packages/whistle.mockya/src/db/rule.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/types/index.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

feat: update publish config
  packages/ui/src/store/rule-list.ts
  packages/ui/src/views/detail/panels/RuleList.vue
  packages/whistle.mockya/package.json
  packages/whistle.mockya/prisma/mockya.db-journal
  packages/whistle.mockya/prisma/schema.prisma
  packages/whistle.mockya/public/assets/index-6ab10a39.js
  packages/whistle.mockya/public/assets/index-a5db6985.js
  packages/whistle.mockya/public/assets/index-edfde0a8.css
  packages/whistle.mockya/public/index.html
  packages/whistle.mockya/scripts/env.js
  packages/whistle.mockya/src/server.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.1.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

chore: include changelog in publish
  packages/whistle.mockya/package.json
Due: prettier -w

feat: optimize rule match logic
  packages/ui/src/components/MatcherItem.vue
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/store/rule-config.ts
  packages/ui/src/store/rule-list.ts
  packages/ui/src/views/detail/panels/MatcherConfig.vue
  packages/ui/src/views/detail/panels/MockConfig.vue
  packages/whistle.mockya/public/assets/index-791eafd3.css
  packages/whistle.mockya/public/assets/index-97252c30.js
  packages/whistle.mockya/public/index.html
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/types/index.ts
Due: prettier -w, eslint --fix

release: v0.1.1
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

chore: change prisma engine type
  packages/whistle.mockya/prisma/schema.prisma
Due: none

release: v0.1.2-alpha.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
  pnpm-lock.yaml
Due: prettier -w

fix: log info
  packages/ui/src/store/rule-config.ts
  packages/whistle.mockya/public/assets/index-833bfb26.js
  packages/whistle.mockya/public/index.html
  packages/whistle.mockya/src/server.ts
Due: prettier -w, eslint --fix

release: v0.1.2-alpha.1
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
  pnpm-lock.yaml
Due: prettier -w

feat: add basic log
  CHANGELOG.md
  lerna.json
  packages/ui/index.html
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/store/rule-config.ts
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
  packages/whistle.mockya/public/assets/index-d62658bb.js
  packages/whistle.mockya/public/index.html
  packages/whistle.mockya/src/logger/index.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/types/index.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.1.2
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: rule list edit
  packages/ui/src/components/RuleItem.vue
  packages/ui/src/store/rule-config.ts
  packages/ui/src/views/detail/index.vue
  packages/ui/src/views/detail/panels/RuleList.vue
Due: prettier -w, eslint --fix

feat: add rule list loading
  packages/ui/src/store/rule-list.ts
  packages/ui/src/views/detail/index.vue
  packages/ui/src/views/detail/panels/RuleList.vue
Due: prettier -w, eslint --fix

feat: add loading for rule list
  packages/ui/src/components/RuleItem.vue
  packages/ui/src/store/rule-config.ts
  packages/ui/src/store/rule-list.ts
  packages/ui/src/views/detail/index.vue
  packages/ui/src/views/detail/panels/RuleList.vue
Due: prettier -w, eslint --fix

release: v0.1.3-alpha.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
  pnpm-lock.yaml
Due: prettier -w

ci: add publish workflow
  .github/workflows/publish.yml
Due: none

ci: update publish workflow
  .github/workflows/publish.yml
Due: none

Path conditions:
  prettier -w: any of: *.{js,ts,vue,json,css,scss}
  eslint --fix: any of: *.{js,ts,vue}
