Repository aijun-li/mockya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,vue,json,css,scss}": ["prettier -w"],
  "*.{js,ts,vue}": ["eslint --fix"]
}

release: v0.1.7-alpha.4
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

chore: update dependencies
  packages/ui/package.json
  packages/ui/vite.config.ts
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.1.7-alpha.5
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: solve pwa reload issue
  packages/ui/src/App.vue
  packages/ui/src/const/index.ts
  packages/ui/src/store/version.ts
  packages/ui/vite.config.ts
Due: prettier -w, eslint --fix

release: v0.1.7-alpha.6
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: optimize event tracking
  packages/ui/index.html
  packages/ui/src/App.vue
  packages/ui/src/global.d.ts
  packages/ui/src/router/index.ts
  packages/ui/src/utils/track.ts
  packages/ui/src/views/detail/panels/MatcherConfig.vue
  packages/ui/src/views/detail/panels/MockConfig.vue
  packages/ui/src/views/detail/panels/RuleList.vue
  packages/ui/src/views/home/index.vue
  packages/ui/src/views/settings/index.vue
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
Due: prettier -w, eslint --fix

release: v0.1.7
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

release: v0.2.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: improve code formatting performance
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/components/common/Editor/format-worker.ts
  packages/ui/src/daisy/components/toast/Toast.vue
  packages/ui/src/types/index.ts
  packages/ui/src/utils/error.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/worker.ts
  packages/whistle.mockya/version-change-trigger.ts
Due: prettier -w, eslint --fix

fix: compare app versions correctly
  packages/whistle.mockya/package.json
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.2.1
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: solve parsing changelog issue
  packages/whistle.mockya/src/uiServer/router/rpc/version-update.ts
Due: prettier -w, eslint --fix

release: v0.2.2-alpha.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: support statistics
  packages/ui/package.json
  packages/ui/src/App.vue
  packages/ui/src/main.ts
  packages/ui/src/service/index.ts
  packages/ui/src/store/index.ts
  packages/ui/src/store/stats.ts
  packages/ui/src/views/statistics/index.vue
  packages/ui/src/ws/index.ts
  packages/whistle.mockya/package.json
  packages/whistle.mockya/prisma/migrations/20240117142032_add_int_stat_table/migration.sql
  packages/whistle.mockya/prisma/schema.prisma
  packages/whistle.mockya/src/db/collection.ts
  packages/whistle.mockya/src/db/index.ts
  packages/whistle.mockya/src/db/stat.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/shared/types.ts
  packages/whistle.mockya/src/types/index.ts
  packages/whistle.mockya/src/uiServer/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/collection.ts
  packages/whistle.mockya/src/uiServer/router/rpc/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/matcher.ts
  packages/whistle.mockya/src/uiServer/router/rpc/mock.ts
  packages/whistle.mockya/src/uiServer/router/rpc/rule.ts
  packages/whistle.mockya/src/uiServer/router/rpc/stat.ts
  packages/whistle.mockya/src/ws/broadcast.ts
  packages/whistle.mockya/src/ws/index.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.2.2
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: optimize server check
  packages/ui/src/App.vue
  packages/ui/src/hooks/health.ts
  packages/ui/src/hooks/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/index.ts
  packages/whistle.mockya/src/uiServer/router/rpc/misc.ts
Due: prettier -w, eslint --fix

feat: add Traffic page
  packages/ui/src/App.vue
  packages/ui/src/components/TrafficItemDetail.vue
  packages/ui/src/components/TrafficListItem.vue
  packages/ui/src/components/common/ContentCard/ContentCard.vue
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/components/index.ts
  packages/ui/src/const/index.ts
  packages/ui/src/hooks/format.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/store/index.ts
  packages/ui/src/store/traffic.ts
  packages/ui/src/views/detail/panels/MockConfig.vue
  packages/ui/src/views/detail/panels/RuleList.vue
  packages/ui/src/views/traffic/index.vue
  packages/ui/src/workers/format.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/shared/types.ts
  packages/whistle.mockya/src/ws/broadcast.ts
Due: prettier -w, eslint --fix

feat: network traffic visualization
  packages/ui/src/App.vue
  packages/ui/src/components/TrafficItemDetail.vue
  packages/ui/src/components/TrafficListItem.vue
  packages/ui/src/components/common/ContentCard/ContentCard.vue
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/components/index.ts
  packages/ui/src/const/index.ts
  packages/ui/src/hooks/format.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/store/index.ts
  packages/ui/src/store/rule-list.ts
  packages/ui/src/store/traffic.ts
  packages/ui/src/views/detail/panels/MockConfig.vue
  packages/ui/src/views/detail/panels/RuleList.vue
  packages/ui/src/views/traffic/index.vue
  packages/ui/src/workers/format.ts
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/shared/types.ts
  packages/whistle.mockya/src/types/index.ts
  packages/whistle.mockya/src/ws/broadcast.ts
Due: prettier -w, eslint --fix

feat: basic Command Palette
  packages/ui/package.json
  packages/ui/src/App.vue
  packages/ui/src/components/CommandPalette.vue
  packages/ui/src/components/SideBar.vue
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/components/index.ts
  packages/ui/src/store/collections.ts
  packages/ui/src/store/command-palette.ts
  packages/ui/src/store/index.ts
  packages/ui/src/utils/env.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/views/detail/index.vue
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

release: v0.3.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: optimize style
  packages/ui/src/views/detail/panels/MatcherConfig.vue
  packages/whistle.mockya/version-change-trigger.ts
Due: prettier -w, eslint --fix

release: v0.3.1-alpha.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: darwin-arm64 support
  packages/whistle.mockya/prisma/schema.prisma
Due: none

release: v0.3.1-alpha.1
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: optimize style
  packages/ui/src/components/TrafficItemDetail.vue
  packages/ui/src/components/TrafficListItem.vue
Due: prettier -w, eslint --fix

fix: optimize code formatting performance
  packages/ui/src/components/TrafficItemDetail.vue
  packages/ui/src/components/common/Editor/Editor.vue
  packages/ui/src/types/index.ts
  packages/ui/src/workers/format.ts
Due: prettier -w, eslint --fix

release: v0.3.1
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: optimize Command+K on MacOS
  packages/ui/src/components/CommandPalette.vue
  packages/whistle.mockya/version-change-trigger.ts
Due: prettier -w, eslint --fix

release: v0.3.2
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: init @mockya/server package
  packages/server/.eslintrc.js
  packages/server/.gitignore
  packages/server/package.json
  packages/server/prisma/schema.prisma
  packages/server/src/index.ts
  packages/server/src/tools/prisma.d.ts
  packages/server/src/tools/prisma.js
  packages/server/src/tools/prisma.ts
  packages/server/src/tools/trpc.d.ts
  packages/server/src/tools/trpc.js
  packages/server/src/tools/trpc.ts
  packages/server/tsconfig.json
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

feat: update remote
  packages/server/package.json
  packages/server/prisma/schema.prisma
  packages/server/src/db/collection.ts
  packages/server/src/db/index.ts
  packages/server/src/db/rule.ts
  packages/server/src/db/user.ts
  packages/server/src/index.ts
  packages/server/src/router/collection.ts
  packages/server/src/router/index.ts
  packages/server/src/router/rule.ts
  packages/server/src/router/user.ts
  pnpm-lock.yaml
Due: prettier -w, eslint --fix

feat: optimize logging
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/uiServer/router/rpc/index.ts
  packages/whistle.mockya/src/utils/trpc-koa-adapter.ts
Due: prettier -w, eslint --fix

release: v0.3.3-alpha.0
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

feat: optimize logging
  packages/whistle.mockya/src/server.ts
  packages/whistle.mockya/src/utils/index.ts
Due: prettier -w, eslint --fix

release: v0.3.3-alpha.1
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

fix: change prisma engine type
  packages/whistle.mockya/prisma/schema.prisma
Due: none

release: v0.3.3-alpha.2
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
Due: prettier -w

release: v0.3.3-alpha.3
  CHANGELOG.md
  lerna.json
  packages/whistle.mockya/CHANGELOG.md
  packages/whistle.mockya/package.json
  pnpm-lock.yaml
Due: prettier -w

feat: optimize logging
  packages/whistle.mockya/src/server.ts
Due: prettier -w, eslint --fix
